.namefilm{
    background-color: #bee295e5;
  
  }
  
.namecharacter{
    background-color: #e68686e5;
  
  }

.nameepisode{
    background-color: #a5dffae5;
  
  }

.namequote{
    background-color: #dde7b0e5;
  
  }  
.deathcount{
    background-color: #dde7b0e5;
  
  } 