.item-content {
    background-color:#793de9e5;
    font-size: 300%;
    margin: 10%;
  }
.centered{
  position: relative;
  top: 25%;
  left: 25%;
  right: 50%;
  margin: 0 auto;
  margin-top: 0;
  margin-left: 0;
  font-size: 100%;
  background: #545454;
  border: 1px solid var(--ion-color-secondary);
}
